@model  Application.Movies.Queries.GetMovieDetails.MovieDetailModel

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}

<div class="row">
    <div class="col-3">
        <img src="@Model.PosterUrl" alt="No Image" class="img-thumbnail">
    </div>
    <div class="col-9">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        @Html.DisplayFor(model => model.Overview)
    </div>
</div>