@model  Application.Movies.Queries.GetMovieDetails.MovieDetailModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

    Hi, I'm the details, nothing to see here yet.