@model IEnumerable<Application.Movies.Queries.Search.SearchListItemModel>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("index", "movies", FormMethod.Post, new { @class = "ui big form" }))
{
<div class="fields">
    <div class="three wide field">

    </div>
    <div class="ten wide field">
        <div class="ui action left icon input">
            <i class="search icon"></i>
            <input type="text" name="SearchString" placeholder="Search...">
            <button class="ui button" type="submit">Search</button>
        </div>
    </div>
</div>
}

@if (Model.Any())
{
    <h2 class="ui horizontal divider header">
        Results
    </h2>
    <div class="ui relaxed divided items">
        @foreach (var item in Model)
        {
            <div class="item">
                <div class="content">
                    @Html.ActionLink(@item.Title, "details", new { id = item.Id }, new { @class = "header" })
                </div>
            </div>
        }
    </div>
}